{% extends 'base.html.twig' %}

{% block title %}Profil beállítások{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% for message in app.flashes('adatmodositas-success') %}
            <div class="card bg-success text-white shadow mb-4">
                <div class="card-body">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Profil adatok</h6>
            </div>

            {% if is_granted('ROLE_ALLASKERESO')%}
            <div class="card-body">
                {{ form_start(form) }}

                <div class="mb-3">
                    <label for="varos" class="form-label">Tanulmányi státusz</label>
                    {{ form_widget(form.tan_statusz, {'attr': {'class': 'custom-select'}}) }}
                </div>
                <div class="mb-3">
                    <label for="varos" class="form-label">Város</label>
                    {{ form_widget(form.varos, {'attr': {'class': 'form-control', 'placeholder': 'város, ahol él', 'id': 'varos'}}) }}
                </div>
                <div class="mb-3">
                    <label for="telefonszam" class="form-label">Telefonszám</label>
                    {{ form_widget(form.telefonszam, {'attr': {'class': 'form-control', 'placeholder': 'telefonszám', 'id': 'telefonszam'}}) }}
                </div>
                <div class="mb-3">
                    <label for="oneletrajz" class="form-label">Önéletrajz feltöltése</label>
                    {{ form_widget(form.oneletrajz, {'attr': {'class': 'custom-file-input', 'id': 'oneletrajz', 'type': 'file', 'style': 'opacity:100'}}) }}
                </div>
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-user btn-block'}}) }}

                {{ form_end(form) }}
            </div>
            {% endif %}

            {% if is_granted('ROLE_KAPCSOLATTARTO') %}
                <div class="card-body">
                    {{ form_start(form) }}

                    <div class="mb-3">
                        <label for="beosztas" class="form-label">Beosztása a cégnél</label>
                        {{ form_widget(form.beosztas, {'attr': {'class': 'form-control', 'placeholder': 'beosztás neve', 'id': 'varos'}}) }}
                    </div>
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-user btn-block'}}) }}

                    {{ form_end(form) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
