{% extends 'base.html.twig' %}

{% block title %}Regisztráció{% endblock %}

{% block body %}
    <body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Regisztráció</h1>
                            </div>
                            {{ form_start(form, {'attr': {'class': 'user'}}) }}
                            <div class="form-group">
                                {{ form_widget(form.nev, {'attr': {'class': 'form-control form-control-user', 'placeholder': 'Teljes név'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-user', 'placeholder': 'Email cím'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.password, {'attr': {'class': 'form-control form-control-user', 'placeholder': 'Jelszó'}}) }}
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isAllaskereso" value="allas_kereso"
                                           id="flexRadioDefault1" checked>
                                    <label class="form-check-label text-gray-900" for="flexRadioDefault1">
                                        Álláskereső regisztráció
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isAllaskereso" value="ceg"
                                           id="flexRadioDefault2">
                                    <label class="form-check-label text-gray-900" for="flexRadioDefault2">
                                        Cég regisztráció
                                    </label>
                                </div>
                            </div>
                            {{ form_widget(form.register, {'attr': {'class': 'btn btn-primary btn-user btn-block'}}) }}
                            {{ form_end(form) }}
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{{ path('app_login') }}">Már van fiókod? Lépj be!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    </body>

{% endblock %}
