{% extends 'base.html.twig' %}

{% block title %}Állás információk{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% for message in app.flashes('adatmodositas-success') %}
            <div class="card bg-success text-white shadow mb-4">
                <div class="card-body">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Állás információk</h1>
        </div>
        <div class="card shadow mb-4">

            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Munka Típusa</h6>
            </div>
            <div class ="card-body">
                <h6 class="m-0 font-weight-bold">{{ pozicio.munkaTipusa.megnevezes }}</h6>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Cég</h6>
            </div>
            <div class ="card-body">
                <h6 class="m-0 font-weight-bold">{{ pozicio.ceg.nev }}</h6>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Feladatkör</h6>
            </div>
            <div class ="card-body">
                <h6 class="m-0 font-weight-bold">{{ pozicio.feladatkor }}</h6>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Leírás</h6>
            </div>
            <div class ="card-body">
                <h6 class="m-0 font-weight-bold">{{ pozicio.leiras }}</h6>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Elvárás</h6>
            </div>
            <div class ="card-body">
                <h6 class="m-0 font-weight-bold">{{ pozicio.elvaras }}</h6>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Kínálat</h6>
            </div>
            <div class ="card-body">
                <h6 class="m-0 font-weight-bold">{{ pozicio.kinalat }}</h6>
            </div>
        </div>

        {% if is_granted('ROLE_ALLASKERESO')%}
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Jelentkezés</h6>
                </div>
                <div class="card-body">
                    {{ form_start(jelform) }}
                    <div class="mb-3">
                        <label for="nev" class="form-label">Leírás</label>
                        {{ form_widget(jelform.uzenet, {'attr': {'class': 'form-control', 'placeholder': 'Leírás', 'id': 'leiras'}}) }}
                    </div>
                    {{ form_widget(jelform.apply, {'attr': {'class': 'btn btn-primary btn-user btn-block'}}) }}

                    {{ form_end(jelform) }}
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Értékelés</h6>
                </div>
                <div class="card-body">
                    <div></div>
                    {{ form_start(ertform) }}
                    <div class="mb-3">
                        <label for="nev" class="form-label">Leírás</label>
                        {{ form_widget(ertform.szoveg, {'attr': {'class': 'form-control', 'placeholder': 'Leírás', 'id': 'szoveg'}}) }}
                    </div>
                    <div class="mb-3">
                        <label for="nev" class="form-label">Pontszám</label>
                        {{ form_widget(ertform.pontszam, {'attr': {'class': 'form-control', 'placeholder': '5', 'id': 'pontszam'}}) }}
                    </div>
                    {{ form_widget(ertform.send, {'attr': {'class': 'btn btn-primary btn-user btn-block'}}) }}
                    {{ form_end(ertform) }}
                </div>
            </div>
        {% endif %}

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Értékelések</h1>
        </div>
        <div class="card shadow mb-4">

        {% for ertekeles in ertekelesek %}
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Felhasználó</h6>
                </div>
                <div class ="card-body">
                    <h6 class="m-0 font-weight-bold">{{ ertekeles.felhasznalo.nev }}</h6>
                </div>

                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Leírás</h6>
                </div>
                <div class ="card-body">
                    <h6 class="m-0 font-weight-bold">{{ ertekeles.szoveg }}</h6>
                </div>

                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Pontszám</h6>
                </div>
                <div class ="card-body">
                    <h6 class="m-0 font-weight-bold">{{ ertekeles.pontszam }}</h6>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}
