{% extends 'base.html.twig' %}

{% block title %}Főoldal{% endblock %}

{% block content %}
    <!-- Content Row -->

    <div class="container-fluid">
        {% for message in app.flashes('success') %}
            <div class="card bg-success text-white shadow mb-4">
                <div class="card-body">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Állások</h1>
        </div>
        <div>
            {% for feladatkor, poziciok in groupedPoziciok %}
                <div class="card shadow mb-4">

                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">{{ feladatkor }}</h6>
                    </div>
                    <div class="card-body">
                        {% for pozicio in poziciok %}
                            <div class="mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <a href="{{ path('show_pozicio', {'id': pozicio.getPozicioId()}) }}"><span class="float-right font-weight-bold text-info">Tovább</span></a>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-sm mb-0 font-weight-bold text-gray-800">
                                                    Cégnév: {{ pozicio.ceg.nev }}</div>
                                                <div class="text-sm mb-0 font-weight-bold text-info-800">
                                                    Típus: {{ pozicio.munkaTipusa.megnevezes }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
