{% extends 'base.html.twig' %}

{% block title %}Hello ApplicationController!{% endblock %}

{% block content %}

<table class="table table-bordered hover" id="dataTable" style="width: 100%">
    {% for jelentkezes in jelentkezesek %}
        <tr>
            <td><div>
                    <td> {{ jelentkezes.felhasznalo.nev }} </td>
                    <td> {{ jelentkezes.uzenet }}</td>
                    <td> {{ jelentkezes.pozicio.feladatkor }}</td>
                    <td>
                        {% if jelentkezes.elutasitva is same as(0) %}
                            Elfogadva!
                        {% elseif jelentkezes.elutasitva is same as(1) %}
                            Elutasítva!
                        {% else %}
                            Pending...!
                        {% endif %}
                    </td>

                    {% if is_granted('ROLE_KAPCSOLATTARTO') %}
                </div>
            </td>
            <td>
                <a class="text-danger" href="{{ path('app_application_refuse', {'application_id': jelentkezes.jelentkezesID}) }}">Elutasítás</a>
            </td>
            <td>
                <a class="text-success" href="{{ path('app_application_accept', {'application_id': jelentkezes.jelentkezesID}) }}">Elfogadás</a>
               </td>

            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                </div>
                </td>
                <td>
                    <a class="text-danger" href="{{ path('app_application_refuse', {'application_id': jelentkezes.jelentkezesID}) }}">Elutasítás</a>
                    </td>
                <td>
                    <a class="text-success" href="{{ path('app_application_accept', {'application_id': jelentkezes.jelentkezesID}) }}">Elfogadás</a>

                </td>
                <td> <a class="text-danger" href="{{ path('app_application_delete', {'application_id': jelentkezes.jelentkezesID}) }}">Törlés</a>
                    </td>

            {% endif %}
        </tr>
        </form>
    {% endfor %}






</table>
{% endblock %}
