{% extends 'base.html.twig' %}

{% block title %}Bejelentkezés{% endblock %}

{% block body %}
    <body class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                {% if error %}
                                    <div class="card bg-danger text-white shadow m-3">
                                        <div class="card-body">
                                            {{ error.messageKey|trans(error.messageData, 'security') }}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bejelentkezés</h1>
                                    </div>
                                    <form action="{{ path('app_login') }}" method="post" class="user">
                                        <div class="form-group">
                                            <input type="email" value="{{ last_email }}" name="_username" id="email"
                                                   class="form-control form-control-user" autocomplete="email"
                                                   placeholder="Email cím" required autofocus>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="_password" id="password"
                                                   class="form-control form-control-user" placeholder="Jelszó" required>
                                        </div>

                                        <input type="hidden" name="_csrf_token"
                                               value="{{ csrf_token('authenticate') }}">

                                        <button class="btn btn-primary btn-user btn-block" type="submit">
                                            Bejelentkezés
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{{ path('app_registration') }}">Regisztráció</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>







{% endblock %}
