{% extends 'base.html.twig' %}

{% block title %}Jelentkezések{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% for message in app.flashes('adatmodositas-success') %}
            <div class="card bg-success text-white shadow mb-4">
                <div class="card-body">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        {% for jelentkezes in jelentkezesek %}
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <a href="#collapseCardExample{{ jelentkezes.jelentkezesid }}" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                   role="button" aria-expanded="false" aria-controls="collapseCardExample{{ jelentkezes.jelentkezesid }}">
                    <h6 class="m-0 font-weight-bold text-primary">{{ jelentkezes.felhasznalo.nev }} -> {{ jelentkezes.pozicio.ceg.nev }} {{ jelentkezes.pozicio.feladatkor }}</h6>
                </a>
                <!-- Card Content -->
                <div class="collapse" id="collapseCardExample{{ jelentkezes.jelentkezesid }}">
                    <div class="card-body">
                        {{ form_start(forms[jelentkezes.jelentkezesid]) }}

                        <div class="mb-3">
                            <h6 class="m-0 font-weight-bold text-primary">Felhasználó neve</h6>
                            <h6 class="m-0 font-weight-bold">{{ jelentkezes.felhasznalo.nev }}</h6>
                        </div>
                        <div class="mb-3">
                            <h6 class="m-0 font-weight-bold text-primary">Cég</h6>
                            <h6 class="m-0 font-weight-bold">{{ jelentkezes.pozicio.ceg.nev }}</h6>
                        </div>
                        <div class="mb-3">
                            <h6 class="m-0 font-weight-bold text-primary">Feladatkör</h6>
                            <h6 class="m-0 font-weight-bold">{{ jelentkezes.pozicio.feladatkor }}</h6>
                        </div>
                        <div class="mb-3">
                            <h6 class="m-0 font-weight-bold text-primary">Üzenet</h6>
                            <h6 class="m-0 font-weight-bold">{{ jelentkezes.uzenet }}</h6>
                        </div>
                        <div class="mb-3">
                            <h6 class="m-0 font-weight-bold text-primary">Elutasítva</h6>
                            <h6 class="m-0 font-weight-bold">{{ (jelentkezes.elutasitva) ? 'Igen' : 'Nem' }}</h6>
                        </div>

                        {{ form_widget(forms[jelentkezes.jelentkezesid].delete, {'attr': {'class': 'btn btn-danger btn-user btn-block'}}) }}

                        {{ form_end(forms[jelentkezes.jelentkezesid]) }}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}
