{% extends 'base.html.twig' %}

{% block title %}Cégek{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% for message in app.flashes('adatmodositas-success') %}
            <div class="card bg-success text-white shadow mb-4">
                <div class="card-body">
                    {{ message }}
                </div>
            </div>
        {% endfor %}

        {% for ceg in cegek %}
        <div class="card shadow mb-4">
            <!-- Card Header -->
            <a href="#collapseCardExample{{ ceg.cegid }}" class="d-block card-header py-3 collapsed" data-toggle="collapse"
               role="button" aria-expanded="false" aria-controls="collapseCardExample{{ ceg.cegid }}">
                <h6 class="m-0 font-weight-bold text-primary">{{ ceg.nev }}</h6>
            </a>
            <!-- Card Content -->
            <div class="collapse" id="collapseCardExample{{ ceg.cegid }}">
                <div class="card-body">
                    {{ form_start(forms[ceg.cegid]) }}

                    <div class="mb-3">
                        <label for="nev" class="form-label">Cégnév</label>
                        {{ form_widget(forms[ceg.cegid].nev, {'attr': {'class': 'form-control', 'placeholder': 'cég neve', 'id': 'nev'}}) }}
                    </div>
                    <div class="mb-3">
                        <label for="orszag" class="form-label">Ország</label>
                        {{ form_widget(forms[ceg.cegid].orszag, {'attr': {'class': 'form-control', 'placeholder': 'bejegyzett ország', 'id': 'orszag'}}) }}
                    </div>
                    <div class="mb-3">
                        <label for="varos" class="form-label">Város</label>
                        {{ form_widget(forms[ceg.cegid].varos, {'attr': {'class': 'form-control', 'placeholder': 'város, ahol él', 'id': 'varos'}}) }}
                    </div>
                    <div class="mb-3">
                        <label for="iranyitoszam" class="form-label">Irányítószám</label>
                        {{ form_widget(forms[ceg.cegid].iranyitoszam, {'attr': {'class': 'form-control', 'placeholder': 'irányítószám', 'id': 'iranyitoszam'}}) }}
                    </div>
                    <div class="mb-3">
                        <label for="cim" class="form-label">Cím</label>
                        {{ form_widget(forms[ceg.cegid].cim, {'attr': {'class': 'form-control', 'placeholder': 'utca, házszám', 'id': 'cim'}}) }}
                    </div>
                    <div class="mb-3">
                        <label for="adoszam" class="form-label">Adószám</label>
                        {{ form_widget(forms[ceg.cegid].adoszam, {'attr': {'class': 'form-control', 'placeholder': 'utca, házszám', 'id': 'adószám', 'type': 'number'}}) }}
                    </div>
                    {{ form_widget(forms[ceg.cegid].cegId) }}
                    {{ form_widget(forms[ceg.cegid].save, {'attr': {'class': 'btn btn-primary btn-user btn-block'}}) }}
                    {{ form_widget(forms[ceg.cegid].delete, {'attr': {'class': 'btn btn-danger btn-user btn-block'}}) }}

                    {{ form_end(forms[ceg.cegid]) }}
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock %}
