{% extends 'base.html.twig' %}

{% block title %}Meghirdetett állások{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% for message in app.flashes('adatmodositas-success') %}
            <div class="card bg-success text-white shadow mb-4">
                <div class="card-body">
                    {{ message }}
                </div>
            </div>
        {% endfor %}

        {% for pozicio in poziciok %}
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <a href="#collapseCardExample{{ pozicio.pozicioid }}" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                   role="button" aria-expanded="false" aria-controls="collapseCardExample{{ pozicio.pozicioid }}">
                    {% if is_granted('ROLE_ADMIN') %}
                        <h6 class="m-0 font-weight-bold text-primary">{{ pozicio.feladatkor }}, hirdető cég: {{ pozicio.ceg.nev }}</h6>
                    {% elseif is_granted('ROLE_KAPCSOLATTARTO') %}
                        <h6 class="m-0 font-weight-bold text-primary">{{ pozicio.feladatkor }}</h6>
                    {% endif %}
                </a>
                <!-- Card Content -->
                <div class="collapse" id="collapseCardExample{{ pozicio.pozicioid }}">
                    <div class="card-body">
                        {{ form_start(forms[pozicio.pozicioid]) }}

                        <div class="mb-3">
                            <label for="munka_tipusa" class="form-label">Munka típusa</label>
                            {{ form_widget(forms[pozicio.pozicioid].munka_tipusa, {'attr': {'class': 'custom-select', 'id': 'munka_tipusa'}}) }}
                        </div>
                        <div class="mb-3">
                            <label for="feladatkor" class="form-label">Feladatkör</label>
                            {{ form_widget(forms[pozicio.pozicioid].feladatkor, {'attr': {'class': 'form-control', 'id': 'feladatkor'}}) }}
                        </div>
                        <div class="mb-3">
                            <label for="leiras" class="form-label">Leírás</label>
                            {{ form_widget(forms[pozicio.pozicioid].leiras, {'attr': {'class': 'form-control', 'id': 'leiras'}}) }}
                        </div>
                        <div class="mb-3">
                            <label for="elvaras" class="form-label">Elvárás</label>
                            {{ form_widget(forms[pozicio.pozicioid].elvaras, {'attr': {'class': 'form-control', 'id': 'elvaras'}}) }}
                        </div>
                        <div class="mb-3">
                            <label for="kinalat" class="form-label">Kínálat</label>
                            {{ form_widget(forms[pozicio.pozicioid].kinalat, {'attr': {'class': 'form-control', 'id': 'kinalat'}}) }}
                        </div>
                        {{ form_widget(forms[pozicio.pozicioid].pozicioId) }}
                        {{ form_widget(forms[pozicio.pozicioid].save, {'attr': {'class': 'btn btn-primary btn-user btn-block'}}) }}
                        {{ form_widget(forms[pozicio.pozicioid].delete, {'attr': {'class': 'btn btn-danger btn-user btn-block'}}) }}

                        {{ form_end(forms[pozicio.pozicioid]) }}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
