{% extends 'base.html.twig' %}

{% block title %}Céges adatok{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% for message in app.flashes('adatmodositas-success') %}
            <div class="card bg-success text-white shadow mb-4">
                <div class="card-body">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Céges adatok</h6>
            </div>
            <div class="card-body">
                {{ form_start(form) }}

                <div class="mb-3">
                    <label for="nev" class="form-label">Cégnév</label>
                    {{ form_widget(form.nev, {'attr': {'class': 'form-control', 'placeholder': 'cég neve', 'id': 'nev'}}) }}
                </div>
                <div class="mb-3">
                    <label for="orszag" class="form-label">Ország</label>
                    {{ form_widget(form.orszag, {'attr': {'class': 'form-control', 'placeholder': 'bejegyzett ország', 'id': 'orszag'}}) }}
                </div>
                <div class="mb-3">
                    <label for="varos" class="form-label">Város</label>
                    {{ form_widget(form.varos, {'attr': {'class': 'form-control', 'placeholder': 'cég székhelye', 'id': 'varos'}}) }}
                </div>
                <div class="mb-3">
                    <label for="iranyitoszam" class="form-label">Irányítószám</label>
                    {{ form_widget(form.iranyitoszam, {'attr': {'class': 'form-control', 'placeholder': 'irányítószám', 'id': 'iranyitoszam'}}) }}
                </div>
                <div class="mb-3">
                    <label for="cim" class="form-label">Cím</label>
                    {{ form_widget(form.cim, {'attr': {'class': 'form-control', 'placeholder': 'utca, házszám', 'id': 'cim'}}) }}
                </div>
                <div class="mb-3">
                    <label for="adoszam" class="form-label">Adószám</label>
                    {{ form_widget(form.adoszam, {'attr': {'class': 'form-control', 'placeholder': 'adószám', 'id': 'adószám', 'type': 'number'}}) }}
                </div>
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-user btn-block'}}) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
