<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}JobHub{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
{% block body %}
<body id="page-top">
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('app_index') }}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-briefcase"></i>
            </div>
            <div class="sidebar-brand-text mx-3">JobHub</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('app_index') }}">
                <i class="fas fa-fw fa-list"></i>
                <span>Állások</span></a>
        </li>

        {% if not is_granted('ROLE_ADMIN') and not is_granted('ROLE_ALLASKERESO') and not is_granted('ROLE_KAPCSOLATTARTO') %}
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Felhasználói fiók
        </div>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_registration') }}">
                <i class="fas fa-fw fa-registered"></i>
                <span>Regisztráció</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">
                <i class="fas fa-fw fa-sign-in-alt"></i>
                <span>Bejelentkezés</span></a>
        </li>
        {% endif %}

        {% if is_granted('ROLE_KAPCSOLATTARTO') or is_granted('ROLE_ALLASKERESO') or is_granted('ROLE_ADMIN')%}
        <!-- Divider -->
        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            Adminisztráció
        </div>
        {% endif %}

        {% if is_granted('ROLE_KAPCSOLATTARTO') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_company_data') }}">
                <i class="fas fa-fw fa-building"></i>
                <span>Céges adatok</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_hire') }}">
                <i class="fas fa-fw fa-bullhorn"></i>
                <span>Álláshirdetés feladása</span></a>
        </li>
        {% endif %}

        {% if is_granted('ROLE_KAPCSOLATTARTO') or is_granted('ROLE_ADMIN')%}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_job_edit') }}">
                <i class="fas fa-fw fa-briefcase"></i>
                <span>Meghirdetett állások</span></a>
        </li>
        {% endif %}

        {% if is_granted('ROLE_ALLASKERESO') or is_granted('ROLE_KAPCSOLATTARTO')%}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_application') }}">
                <i class="fas fa-fw fa-arrow-up"></i>
                <span>Jelentkezések</span></a>
        </li>
        {% endif %}

        {% if is_granted('ROLE_ADMIN')%}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_users') }}">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Felhasználók</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_applications') }}">
                    <i class="fas fa-fw fa-arrow-up"></i>
                    <span>Jelentkezések</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_companies') }}">
                    <i class="fas fa-fw fa-building"></i>
                    <span>Cégek</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_pozicio_logger') }}">
                    <i class="fas fa-fw fa-history"></i>
                    <span>Pozíciók módosításai</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_bejelentkezes_logger') }}">
                    <i class="fas fa-fw fa-history"></i>
                    <span>Bejelentkezési napló</span></a>
            </li>
        {% endif %}

        <!-- Divider -->
        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            Statisztika
        </div>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_stats') }}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Statisztika</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_connection') }}">
                <i class="fas fa-fw fa-link"></i>
                <span>Csatlakozás állapota</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                               placeholder="Állások keresése..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Állások keresése..." aria-label="Keresés"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ALLASKERESO') or is_granted('ROLE_KAPCSOLATTARTO') %}
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.nev }}</span>
                            <img class="img-profile rounded-circle"
                                 src="{{ asset('build/images/undraw_profile.svg') }}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            {% if is_granted('ROLE_ALLASKERESO') or is_granted('ROLE_KAPCSOLATTARTO') %}
                            <a class="dropdown-item" href="{{ path('app_profile') }}">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profil
                            </a>
                            <div class="dropdown-divider"></div>
                            {% endif %}
                            <a class="dropdown-item" href="{{ path('app_logout') }}" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Kijelentkezés
                            </a>
                        </div>
                    </li>
                    {% endif %}
                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            {% block content %}{% endblock %}

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; JobHub 2024</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Máris kilépsz?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Valóban ki akarsz jelentkezni?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Mégse</button>
                <a class="btn btn-primary" href="{{ path('app_logout') }}">Kijelentkezés</a>
            </div>
        </div>
    </div>
</div>

</body>
{% endblock %}
</html>

