{% extends 'base.html.twig' %}

{% block title %}Kapcsolat állapota{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Az adatbázis kapcsolódás megtörtént.</h1>
    </div>
</div>
{% endblock %}
