{% extends 'base.html.twig' %}

{% block title %}Statisztika{% endblock %}

{% block content %}
    <div class="container-fluid">
        <script>
            const jobStatsJson = {{ jobStats|json_encode|raw }};
            const countJobTypePerJobJson = {{ countJobTypePerJob|json_encode|raw }};
        </script>
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Feladatkörökre való jelentkezések és az eredményük</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered hover" id="dataTable1" style="width: 100%">
                                <thead>
                                <tr>
                                    <th>Feladatkör</th>
                                    <th>Jelentkezés eredménye</th>
                                    <th>Jelentkezések száma</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for jobStat in jobStatsAndResult %}
                                    <tr>
                                        <td>{{ jobStat.FELADATKOR }}</td>
                                        {% if jobStat.ELUTASITVA is same as('1') %}
                                            <td>Elfogadva</td>
                                        {% elseif jobStat.ELUTASITVA is same as('0') %}
                                            <td>Elutasítva</td>
                                        {% else %}
                                            <td>Elbírálás alatt</td>
                                        {% endif %}
                                        <td>{{ jobStat.JELENTKEZESEK_SZAMA }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Feladatkörökre való összesített jelentezések</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="myPieChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Pozíciók száma munka típusa alapján</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered hover" id="dataTable2" style="width: 100%">
                                <thead>
                                <tr>
                                    <th>Feladatkör</th>
                                    <th>Megnevezés</th>
                                    <th>Munkák száma</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entry in countJobTypePerJob %}
                                    <tr>
                                        <td>{{ entry.FELADATKOR }}</td>
                                        <td>{{ entry.MEGNEVEZES }}</td>
                                        <td>{{ entry.MUNKAK_SZAMA }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">A cégek értékeléseinek átlagai</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered hover" id="dataTable" style="width: 100%">
                                <thead>
                                <tr>
                                    <th>Cég</th>
                                    <th>Értékelések átlaga</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for reviewAvg in reviewAvgs %}
                                    <tr>
                                        <td>{{ reviewAvg.NEV }}</td>
                                        <td>{{ reviewAvg.ERTEKELESEK_ATLAGA | round(2) }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">A cégek által meghírdetett állások száma</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered hover" id="dataTable" style="width: 100%">
                                <thead>
                                <tr>
                                    <th>Cég</th>
                                    <th>Állások száma</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ceg in numberofjobs %}
                                    <tr>
                                        <td>{{ ceg.NEV }}</td>
                                        <td>{{ ceg.DB }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Álláskeresők száma tanulmányi státusz alapján</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered hover" id="dataTable" style="width: 100%">
                                <thead>
                                <tr>
                                    <th>Tanulmányi státusz</th>
                                    <th>Darabszám</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for jobseeker in jobseekers %}
                                    <tr>
                                        <td>{{ jobseeker.MEGNEVEZES }}</td>
                                        <td>{{ jobseeker.DB }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Álláskeresők aktivitás alapján</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered hover" id="dataTable" style="width: 100%">
                                <thead>
                                <tr>
                                    <th>Összes Álláskereső</th>
                                    <th>Inaktív Álláskereső</th>
                                    <th>Aktív Álláskereső</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in noApplications %}
                                    <tr>
                                        <td>{{ row.OSSZES }}</td>
                                        <td>{{ row.NEMKERESO }}</td>
                                        <td>{{ row.KERESO }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Az egyes felhasználók jelentkezéseinek száma</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered hover" id="dataTable" style="width: 100%">
                                <thead>
                                <tr>
                                    <th>Felhasználó neve</th>
                                    <th>Jelentkezések száma</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for applicationPerUser in applicationsPerUser %}
                                    <tr>
                                        <td>{{ applicationPerUser.NEV }}</td>
                                        <td>{{ applicationPerUser.JELENTKEZESEK_SZAMA }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>









{% endblock %}

