{% extends 'base.html.twig' %}

{% block title %}Bejelentkezési napló{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Bejelentkezési napló</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered hover" id="dataTable" style="width: 100%">
                        <thead>
                        <tr>
                            <th>Bejelentkezés ideje</th>
                            <th>Felhasználó neve</th>
                            <th>Felhasználó email címe</th>
                            <th>Felhasználó jogosultságai</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for log in loginLogs %}
                            <tr>
                                <td>{{ log.loginTime }}</td>
                                <td>{{ log.felhasznalo.nev }}</td>
                                <td>{{ log.felhasznalo.email }}</td>
                                <td>{{ log.felhasznalo.roles|join(', ') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
