{% extends 'base.html.twig' %}

{% block title %}Felhasználók{% endblock %}

{% block content %}
<div class="container-fluid">
    {% for message in app.flashes('delete-success') %}
        <div class="card bg-success text-white shadow mb-4">
            <div class="card-body">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Alkalmazás felhasználói</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered hover" id="dataTable" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Név</th>
                        <th>Email</th>
                        <th>Jogosultság</th>
                        <th class="text-center">Felhasználó törlése</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.nev }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.roles[0] }}</td>
                            <td class="text-center">
                                <a class="text-danger" href="{{ path('app_user_delete', {'user_id': user.felhasznaloid}) }}">Törlés</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
