{% extends 'base.html.twig' %}

{% block title %}Pozíciók módosításai{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Pozíciók módosításai</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered hover" id="dataTable" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Módosítás ideje</th>
                        <th>Módosító cég</th>
                        <th>Munka típusa régi</th>
                        <th>Munka típusa új</th>
                        <th>Feladatkör régi</th>
                        <th>Feladatkör új</th>
                        <th>Leírás régi</th>
                        <th>Leírás új</th>
                        <th>Elvárás régi</th>
                        <th>Elvárás új</th>
                        <th>Kínálat régi</th>
                        <th>Kínálat új</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for log in pozicioLogs %}
                        <tr>
                            <td>{{ log.editTime }}</td>
                            <td>{{ log.ceg.nev }}</td>
                            <td>{{ log.munkaTipusaOld.megnevezes }}</td>
                            <td>{{ log.munkaTipusaNew.megnevezes }}</td>
                            <td>{{ log.feladatkorOld }}</td>
                            <td>{{ log.feladatkorNew }}</td>
                            <td>{{ log.leirasOld }}</td>
                            <td>{{ log.leirasNew }}</td>
                            <td>{{ log.elvarasOld }}</td>
                            <td>{{ log.elvarasNew }}</td>
                            <td>{{ log.kinalatOld }}</td>
                            <td>{{ log.kinalatNew }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
